* {
    font: 1rem sans-serif;
}


/* HEAD */
.head {
    display: flex;
    flex-direction: row;
    height: 75px;
    text-align: center;
    border: 1px solid black;
}

.nav {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    
}

#logo {
    width: 20%;
    min-width: 125px;
    margin: auto 0;
    
}

.nav-option {
    width: 25%;
    margin: auto 0;
    border: 1px solid black;
}

.acc {
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    border: 1px solid black;
}

.acc>div {
    min-width: 50px;
    width: 33%;
    margin: auto 0;
    
}

/* BODY */

.content {
    display: flex;
    flex-direction: row;
    min-height: 720px;
    text-align: center;
}

.sub-menu {
    width: 15%;
    min-width: 125px;
    border: 1px solid black;
}

.content-main {
    display: flex;
    flex-direction: column;
    width: 85%;

}

.content-main>div {
    display: flex;
    height: 200px;
    justify-content: center;
}

.list {
    display: flex;
    height: 125px;
    width: 60%;
    margin: auto;
    border: 1px solid black;
}

.list-tag {
    width: 75%;
    margin: auto 0;

}

.add {
    display: flex;
    width: 25%;
    border: 1px solid black;
}

.button {
    width: 50px;
    height: 50px;
    margin: auto;
    border: 1px solid black;
}

.content-main>.cart {
    justify-content: end;
    margin-right: 100px;
}

.cart-box {
    width: 50px;
    height: 50px;
    padding: 25px;
    border: 1px solid black;
}