.flex-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.inline-flex-container {
    display: inline-flex;
    flex-flow: row wrap-reverse;
    justify-content: center;
}

.bg-red {
    background-color: red;
}

.bg-blue {
    background-color: skyblue;
}

.flex-container>div {
    background-color: darkgray;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    width: 70;
}

.inline-flex-container>div {
    background-color: lightgray;
    margin: 20px;
    padding: 10px;
    font-size: 25px;
    width: 70;
}

.d1 {
    align-self: flex-end;
    flex-basis: 200px;
}

.d2 {
    flex-basis: 100px;
}

.d3 {
    flex-basis: 100px;

}