* {
    font: 1rem sans-serif;
}

div {
    border: 1px solid black;
}


.head {
    display: flex;
    flex-direction: row;
    height: 75px;
    text-align: center;
}

.nav {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#logo {
    width: 20%;
    min-width: 125px;
}

.nav-option {
    width: 25%;
    margin: auto 0;
}

.acc {
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: end;

}
.acc>div{
    min-width: 50px;
}

.acc>div {
    width: 33%;
}