.flex-container{
    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: space-between;
}
.inline-flex-container{
    display: inline-flex;
    flex-flow: row wrap-reverse;
    justify-content: space-between;
}
.bg-red{
    background-color: red;
}
.bg-blue{
    background-color: skyblue;
}
.flex-container>div{
    background-color: darkgray;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    width: 70px;

}
.inline-flex-container>div{
    background-color: lightgray;
    margin: 20px;
    padding: 10px;
    font-size: 25px;
    width: 70px;
}